.Background-img{
    background-size: cover;
    background:linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.3)) ,url('./blank.jpg') no-repeat center center;
    background-size: cover;
    height: 100vh;
    width: 100%;
}